<?xml version="1.0"?>
<model>
  <name>CGO3 Gimballed Camera</name>
  <version>1.0</version>
  <sdf version="1.5">cgo3_gimbal.sdf</sdf>

  <author>
   <name>Lorenz Meier</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    This is a model of the cgo3 mounted camera with gimbal
  </description>
</model>
