<?xml version="1.0"?>
<model>
  <name>3DR Solo with Teraranger and RPLidar A2</name>
  <version>1.0</version>
  <sdf version='1.4'>solo_hallway.sdf</sdf>

  <author>
   <name>Eric Fang</name>
   <email>efang@andrew.cmu.edu</email>
  </author>

  <description>
    This is a model of the 3DR Solo Quadcopter with a Teraranger rangefinder, and RPLidar A2 LIDAR, and an Astra depth camera. 
  </description>
</model>
